*{ 
    margin:0;
	padding:0px;
	box-sizing:border-box;
	font-family:'poppins','sans-serf'; 
	
} 
p{
	font-weight:30px;
    color:#1111;
} 
header{
	position:fixed;
    top:0%; 
	left:0%;
	padding:20px 10px;
	width:100%;
	z-index:1;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	transition:0.5s; 
	background:black; 
    border:solid white 8px;
	height:80px;
} 
.logo{
	color:white;
	font-weight:bold;
	font-size:2cm;
	text-decoration:none;
}
.logo span{
	color:#fb911f; 
} 
.navbar{
     display:flex;
     position:relative;	 
} 
.navbar li {
	list-style:none;
} 
.navbar a {
	text-decoration:none;
	margin-left:30px;
	font-weight:700; 
	color:white
} 
.btn-reserve{
	padding:10px 20px;
	background:#fb911f;
	margin-top:-10px; 
	text-transform:uppercase;
}
.btn-reserve:hover{
	background:#d87710;
	transition:ease-out;
} 
header .navbar li a:hover{
	color:#efb911f;
	border-bottom:2px solid #fb911f;
} 
.bannier{
	position:relative;
	width:100%;
	display:flex; 
	justify-content:center;
	background-image:url('');
	background-size:cover; 
} 
.bannier .contenu{
	max-width:70%;
	text-align:center;
} 
.bannier .contenu h2{
	color:#efb911f;
	font-size:3em;
	text-transform:capitalize;
} 
.contenu p{
	color:blue;
	font-size:1.2cm;
} 
.btn1{
	font-size:1cm;
	color:#fff;
	background:#fb911f;
	padding:10px 20px;
	display:inline-block;
	margin-top:20px;
	text-transform:uppercase;
	text-decoration:none;
	lettre-spacing:2px;
	transition:0.5s;
	margin-left:10px; 	
} 
.btn2{
	font-size:1cm;
	color:#fff;
	background:#fb911f;
	padding:10px 20px;
	display:inline-block;
	margin-top:20px;
	text-transform:uppercase;
	text-decoration:none;
	lettre-spacing:2px;
	transition:0.5s;
	margin-left:10px;	
}
.btn1:hover{
	lettre-spacing:4px;
}  
.btn{
	size:10px; 
	lettre-spacing:2px;
	transition:0.5s;
	margin-left:10px;	
	background:#fb911f; 
	width:250px;
	margin-top:20px;
	text-transform:uppercase;
	text-decoration:none;
	font-size:1cm;
	color:#fff; 
	font-size:1cm;
	color:#fff; 
	position:center; 
	text-align:center;
	border-radius:30px;
}
section{
	padding:100px;
} 
.pro{
	
}
.row{
	position:relative;
	width:100%;
	display:flex;
}
.row .oper{
	position:relative;
	width:48%; 
	justify-content:center;
	align-items:center; 
	
}  
.row .oper h2{
	margin-bottom:20px;  		
} 
#A{
	color:black;
	font-size:5em;
	font-weight:300px;  
	text-transform:capitalize;
}  
#A span{
	color:#fb911f;
	font-size:1.5em;
	font-weight:700px;
} 
.row .oper p{ 
      color:black;
	  font-size:20px; 
	  margin-top:20px;
}
.row .oper img{
	height:10px;
	width:20px;
	
} 
img{
	height:760px;
	width:850px;
}     
.titre{
	display:flex;
	width:100%;
	justify-content:center;
	flex-direction:column; 
} 
.titre_ss{
	text-align:center; 
	font-size:10px;
	
} 
.menu{
	margin-top:-100px; 
}  
.titre_txt{
	color:black;
	font-size:5em;
	font-weight:300px;  
	text-transform:capitalize;	
} 
.menu2{
	text-align: center;
}

.titre_txt span{
	color:#fb911f;
	font-size:1.5em;
	font-weight:700px; 
     text-align: start;
}  
.menu .titre p{
	color:black;
	font-size:50px; 
	text-align:center
	
}  
.assf{
	color:#fb911f;
	font-size:30px;
}
.menu .contenu{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	margin-top:40px;
}  
.menu .contenu .box{
	width:350px;
	margin:20px;
	border:10px solid gray;
	box-shadow:20px 15px 35px rgba(0,0,0,0,0.8);
}  
.menu .contenu .box .imbox{
	position:relative;
	width:100%;
	height:300px;
}
.menu .contenu .box .imbox img{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:300px;
	object-fit:cover;
}
.menu .contenu .box .text{
	  text-align:center;
	  font-weight:300px;
      color:#111;
	  } 
.menu .contenu .box .text h3{
	  font-weight:400px;
} 

.contact{
	background-image:url("ed.png");
	background-size:cover;
	box-shadow:2px 2px rgba(0,0,0,0.8);
	width:100%;
	background-position:unset;  
    position:bottom;  	
}   
.contact-form{
	padding:75px 50px;
	background:#fff;
	box-shadow:5px 15px 50px rgba(0,0,0,0.8);
	max-width:500px;
	margin-top:50px;
	justify-content:center;
	align-items:center;
	margin-left:38%;
} 
.contact-form h3{
	  color:#111;
	  font-size:1.2em;
      margin-bottom:20px;
}
.contact-form .inputboite input,
.contact-form .inputboite textarea{
	width:100%;
	border:1px solid #555;
	padding:10px;
	color:#111;
	outline:none;
	font-size:16px;
	font-weight:300;
	resize:none;
} 
.contact-form .inputboite{
	position:relative;
	width:100%;
	margin-bottom:20px;
}
.contact-form .inputboite input[type="submit"]{
	font-size:1em;
	font-weight:700;
	color:#fff;
	background:#fb911f;
	display:inline-block;
	cursor:pointer;
	text-transform:uppercase;
	text-decoration:none;
	lettre-spacing:2px;
} 
.titre-noir p{
	color:black;
	font-size:50px; 
	position:relative;
	text-align:center;
} 
.header .sticky{
	background-color:black;
	padding:10px 10px;
	box-shadow:0px 5px 20px rgba(0,0,0,0.5);
} 
body{
	height:auto; 
   margin-top:auto; 
  padding-top:3%;
  
}  
.titre-noi{
	text-align:center;
} 
.social{
	color:white;  
	margin-right:30%;
    margin-left:30%;  
	height:5px; 
}  
.social label{
	color:white; 
	margin-left:2%;
} 
.social img{
	width:30px;
	height:30px;
}
.titre_tx{
	text-align:center;
	font-size:50px; 
	color:white;
}  
.titre_tx span{
	color:#fb911f;  	
}
footer{
	background:black;
} 
.ser{
	color:white; 
    margin-left:65%;
}  
.servi{
    margin-left:65%; 	    
} 
.servi li {
	list-style:none;
} 
.servi a {
	text-decoration:none;
	margin-left:30px;
	color:white
}   
.em{
	color:white; 
	text-align:center; 
	margin-top:05%; 
} 

